.containerBg {
    background-image: url(../images/cooperBg.jpg);
    height: 440px;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    background-position-y: bottom;
}