// Tipography
$fontTitle: 'Montserrat', sans-serif;
$titleSize: 2.5rem;

$body: 'Montserrat', sans-serif;
$fontSize: 1.6rem;

//colors
$black: #0a0a0a;
$white: #ffffff;
$grey: #b3b3b3;
$orange: orange;